@import '../core/variables';

.characterDetail {
  height: 75vh;
  display: flex;
  justify-content: center;
  font-family: $font-main;
  width: 80%;
  @media (min-width: 768px) {
    height: 50vh;
    width: 100%;
  }
  &__link {
    font-size: 18px;
    text-align: end;
    @media (min-width: 768px) {
      font-size: 25px;
    }
  }
}

.character {
  display: flex;
  align-items: center;
  background-color: $card-color;
  margin: 10px 10px 0 50px;

  font-size: 14px;
  @media (min-width: 768px) {
    padding: 0 50px;
    font-size: 20px;
    margin: 10px;
  }
  &__img {
    width: 200px;
    height: 200px;
    @media (min-width: 768px) {
      transform: scale(80%);
    }
  }
  &__list {
    text-align: center;
    padding-right: 10px;
    &--name {
      font-weight: 600;
    }
  }
}
.fa-skull {
  transform: scale(80%);
}
// Transición
.character:hover {
  box-shadow: 0px 0px 40px #04802c;
  transition: box-shadow 0.3s ease-in-out;
}
