@import '../core/variables';

.footer {
  height: 5vh;
  font-size: 14px;
  font-family: $font-main;
  display: flex;
  justify-content: center;
  margin: 25px 35px 0;
  @media (min-width: 768px) {
    font-size: 20px;
  }
}
