@import '../core/variables';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-main;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
  &__label {
    font-weight: 600;
    font-size: 20px;
    padding: 5px 10px;
  }
  &__input {
    font-family: $font-main;
    margin: 5px 10px 10px;
    width: 40%;
    padding: 5px;
    background-color: black;
    color: white;
    border: 1px solid $card-color;
    @media (min-width: 768px) {
      width: 20%;
    }
  }
}
.form__checkeds {
  margin: 0 20px;
}
.labelChecked {
  font-family: $font-main;
  font-weight: 600;
  font-size: 14px;
}
.inputChecked {
  margin: 10px 5px;
}
