.header {
  display: flex;
  justify-content: center;
  @media (min-width: 768px) {
    padding: 20px;
    height: 20vh;
  }
  &__img {
    transform: scale(60%);
    @media (min-width: 768px) {
      transform: scale(100%);
    }
  }
}
